.page {
    display: flex;
}

.navbar {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    min-width: 200px;
    height: 100vh;
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.container {
    padding: 20px;
    width: 100%;
}

.table img {
    border-radius: 5px;
}
